    div.flip-card-stack {
        margin-left: 25%;
        margin-top: 10%;
    }

    .flip-card-stack {
        width: 256px;
        height: 256px;
        border-radius: 6px;
        position: absolute;
        perspective: 400px;
    }

    .flip-card-stack::before,
    .flip-card-stack::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #ffffff;
        border-radius: 6px;
        box-sizing: inherit;
        border: 3px solid #171212;
        transition: 0.6s transform linear;
        backface-visibility: hidden;
    }

    .flip-card-stack::after {
        background-image: repeating-linear-gradient(-45deg, #34b399, #34b399 5px, #8afae3 5px, #8afae3 10px);
    }

    .flip-card-stack:hover::after {
        transform: rotateY(180deg);
    }

    .flip-card-stack::before {
        background-image: url(/Pictures/StackTech.jpg); /*TODO: Change photo later*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotateY(180deg);
        background-color: #ffffff;
    }

    .flip-card-stack:hover::before {
        transform: rotate(360deg);
    }

    div.flip-card-hobbies {
        margin-left: 45%;
        margin-top: 10%;
    }

    .flip-card-hobbies {
        width: 256px;
        height: 256px;
        border-radius: 6px;
        position:absolute;
        perspective: 400px;
    }

    .flip-card-hobbies::before,
    .flip-card-hobbies::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #ffffff;
        border-radius: 6px;
        box-sizing: inherit;
        border: 3px solid #171212;
        transition: 0.6s transform linear;
        backface-visibility: hidden;
    }

    .flip-card-hobbies::after {
        background-image: repeating-linear-gradient(-45deg, #34b399, #34b399 5px, #8afae3 5px, #8afae3 10px);
    }

    .flip-card-hobbies:hover::after {
        transform: rotateY(180deg);
    }

    .flip-card-hobbies::before {
        background-image: url(/Pictures/hobbies.jpg); /*TODO: Change photo later*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotateY(180deg);
        background-color: #ffffff;
    }

    .flip-card-hobbies:hover::before {
        transform: rotate(360deg);
    }

    div.flip-card-weaknesses {
        margin-left: 65%;
        margin-top: 10%;
    }

    .flip-card-weaknesses {
        width: 256px;
        height: 256px;
        border-radius: 6px;
        position: absolute;
        perspective: 400px;
    }

    .flip-card-weaknesses::before,
    .flip-card-weaknesses::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #ffffff;
        border-radius: 6px;
        box-sizing: inherit;
        border: 3px solid #171212;
        transition: 0.6s transform linear;
        backface-visibility: hidden;
    }

    .flip-card-weaknesses::after {
        background-image: repeating-linear-gradient(-45deg, #34b399, #34b399 5px, #8afae3 5px, #8afae3 10px);
    }

    .flip-card-weaknesses:hover::after {
        transform: rotateY(180deg);
    }

    .flip-card-weaknesses::before {
        background-image: url(/Pictures/weaknesses.jpg); /*TODO: Change photo later*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotateY(180deg);
        background-color: #ffffff;
    }

    .flip-card-weaknesses:hover::before {
        transform: rotate(360deg);
    }

.flip-card-label-stack {
    margin-left: 25%;
    margin-top: 5%;
    position: absolute;
    font-size:larger;
    text-align:center;
    text-transform:uppercase;
}

.flip-card-label-hobbies {
    margin-left: 45%;
    margin-top: 5%;
    position: absolute;
    font-size: larger;
    text-align: center;
    text-transform: uppercase;
}

.flip-card-label-weaknesses {
    margin-left: 65%;
    margin-top: 5%;
    position: absolute;
    font-size: larger;
    text-align: center;
    text-transform: uppercase;
}